# Finder, Explorer, ...
.DS_Store
._*
Thumbs.db

# IDE Configuration
.idea
.vscode

# Build output
build/
.next/
coverage/
cypress/downloads/
cypress/screenshots/
cypress/videos/
node_modules/
out/
*.tsbuildinfo
next-env.d.ts

# Local configuration
.env*.local
